{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Welcome to the Polar Robotics Web Interface!</h1>
    <a>This is a handy web interface used to interface with ESP32s using Raspberry Pis in our robots.<br>
        - Corbin</a>
    <h2>Programs</h2>
    <a href="serial_monitor">
        <button>Serial Monitor to CSV</button>
    </a>
    <a href="/file_manager">
        <button>File Manager</button>
    </a>
    <a href="/graphing">
        <button>Graphing</button>
    </a>
{% endblock %}