{% extends 'base.html' %}

{% block title %}
    Serial Monitor to CSV
{% endblock %}

{% block content %}
    <h2>Serial Monitor to CSV</h2>
    <form id="loopForm" action="/start_serial_monitor" method="POST">
        <div style="display: flex; align-items: center;">
            <label for="csv_filename">Enter CSV Filename for output: </label>
            <input type="text" id="csv_filename" name="csv_filename"></input>
            <span>.csv</span>
        </div>
        <input type="submit" name="start_button" value="Start Program">
        <input type="submit" name="stop_button" value="Stop Program">
        <input type="hidden" name="action" id="action">
    </form> 
    <script src="/static/js/serialmonitorform.js"></script>
    <h2>CSV</h2>
    <a href="/">
        <button>Download CSV File</button>
    </a>
    <h2>Graphing</h2>
    <a href="/">
        <button>Create Graph</button>
    </a>
    <a href="/">
        <button>Save Graph to Database</button>
    </a>
    <a href="/">
        <button>Open Graph Database</button>
    </a>
{% endblock %}