{% extends 'base.html' %}

{% block title %}
    Serial Monitor to CSV
{% endblock %}

{% block content %}
    <h2>Serial Monitor to CSV</h2><!--Page header-->
    <!--Form to start/stop serial monitor and give CSV file output-->
    Output directly into a folder is supported, however you must<br>
    make sure the folder exists first in the File Manager.<br><br>
    Ex1. RhoTests/Test1<br>
    Ex2. Test170<br>
    <form id="loopForm">
        <div2>
            <!--CSV filename input field-->
            <label for="csv_filename">Enter CSV Filename for output: </label>
            <input type="text" id="csv_filename" name="csv_filename"></input>
            <span>.csv</span>
        </div2>
        <!--Start and Stop buttons-->
        <input type="submit" name="start_button" value="Start Program">
        <input type="submit" name="stop_button" value="Stop Program">
    </form>
    <!--Link to JavaScript to process above form and run SerialMonitor.py (VERY IMPORTANT)-->
    <script src="/static/js/serialMonitorForm.js"></script>
    <h3>Program Status</h3>
        <label id="programStatus">Program not running.</label><br>
        <label id="savedCsvName"></label>
    
    <!--Header for CSV management section-->
    <h2>CSV</h2>
    <!--Button to download the CSV file-->
    <form id="csvForm" action="/download_csv" method="POST">
        <div2>
            <!--Label and input for CSV filename-->
            <label for="csv_filename">Enter CSV Filename to be downloaded: </label>
            <input type="text" id="csv_filename" name="csv_filename"></input>
            <span>.csv</span>
        </div2>
        <input type="submit" name="download_csv" value="Download CSV File">
    </form>
{% endblock %}